*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!/.gitignore
!/.gitignore
!/.idea/
Would skip repository my-blog/
target/classes/com/wyb/muchi/blog/common/
target/classes/com/wyb/muchi/blog/config/
target/classes/com/wyb/muchi/blog/controller/
target/classes/com/wyb/muchi/blog/domain/
target/classes/com/wyb/muchi/blog/service/
target/classes/com/wyb/muchi/blog/shiro/
target/classes/com/wyb/muchi/blog/support/
target/classes/com/wyb/muchi/blog/util/
target/generated-sources/
target/generated-test-sources/
target/test-classes/
